/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8dfd8;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

section {
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 8% auto;
  text-align: center;
}

h1 {
  margin: 50px 0;
  font-family: "maja7regular", serif;
  font-size: 40px;
}

.oval-background {
  background-color: #e6c8c5;
  border-radius: 0 0 200px 200px;
  padding: 0 100px;
  margin: 0 50px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  z-index: 3;
}

/*animations*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showfromup {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-40%);
  }
}

/*button originally from mw-worlds*/
.world-link {
  padding: 40px;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  transition: all 0.7s ease;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.button {
  position: relative;
  margin: 25px 10px;
}

.sneak-img {
  z-index: -3;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-height: 100%;
  transition: all 1s ease;
}

.world-link:hover {
  border-radius: 50px;
}

.world-link span {
  z-index: 2;
}

.world-link::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #c3d2c2;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear, transform 1.5s ease;
}

.world-link:hover::before {
  opacity: 1;
  transform: scale(350);
}

.worlds-container > div:nth-child(2n) > .world-link::before {
  background-color: #f7ebb1;
}

.worlds-container > div:nth-child(3n) > .world-link::before {
  background-color: #b6dce4;
}

.world-link:hover ~ .sneak-img {
  transform: translateY(-20%) rotate(30deg);
}

.worlds-container > div:nth-child(2n) > .world-link:hover ~ .sneak-img {
  transform: translate(-30%, 145%);
}

.worlds-container > div:nth-child(3n) > .world-link:hover ~ .sneak-img {
  transform: rotate(-30deg) translate(-80%, -40%);
}

/*footer*/
footer {
  padding: 20px;
  text-align: center;
  background-color: white;
}

footer span {
  font-family: "maja7regular", serif;
  font-size: 18px;
}

/* creation of user in subpages */
.create-user {
  background-color: black;
  color: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 1s ease;
}

.create-user input {
  margin: 50px;
  height: 50px;
  min-width: 30%;
  font-size: 25px;
  text-align: center;
  font-family: "maja7regular", serif;
}

.create-user input:focus {
  outline: none;
}

.create-user p {
  font-size: 25px;
  margin: 0 50px;
  text-align: center;
}

.create-user a {
  border-radius: 50px;
}

.create-user p:nth-of-type(2) {
  margin: 50px;
}

.create-user .button > a::before {
  background-color: #d9b2ac;
}

.create-user .button:nth-of-type(2n) > a::before {
  background-color: #f7ebb1;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8dfd8;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

section {
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 8% auto;
  text-align: center;
}

h1 {
  margin: 50px 0;
  font-family: "maja7regular", serif;
  font-size: 40px;
}

.oval-background {
  background-color: #e6c8c5;
  border-radius: 0 0 200px 200px;
  padding: 0 100px;
  margin: 0 50px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  z-index: 3;
}

/*animations*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showfromup {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-40%);
  }
}

/*button originally from mw-worlds*/
.world-link {
  padding: 40px;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  transition: all 0.7s ease;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.button {
  position: relative;
  margin: 25px 10px;
}

.sneak-img {
  z-index: -3;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-height: 100%;
  transition: all 1s ease;
}

.world-link:hover {
  border-radius: 50px;
}

.world-link span {
  z-index: 2;
}

.world-link::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #c3d2c2;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear, transform 1.5s ease;
}

.world-link:hover::before {
  opacity: 1;
  transform: scale(350);
}

.worlds-container > div:nth-child(2n) > .world-link::before {
  background-color: #f7ebb1;
}

.worlds-container > div:nth-child(3n) > .world-link::before {
  background-color: #b6dce4;
}

.world-link:hover ~ .sneak-img {
  transform: translateY(-20%) rotate(30deg);
}

.worlds-container > div:nth-child(2n) > .world-link:hover ~ .sneak-img {
  transform: translate(-30%, 145%);
}

.worlds-container > div:nth-child(3n) > .world-link:hover ~ .sneak-img {
  transform: rotate(-30deg) translate(-80%, -40%);
}

/*footer*/
footer {
  padding: 20px;
  text-align: center;
  background-color: white;
}

footer span {
  font-family: "maja7regular", serif;
  font-size: 18px;
}

/* creation of user in subpages */
.create-user {
  background-color: black;
  color: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 1s ease;
}

.create-user input {
  margin: 50px;
  height: 50px;
  min-width: 30%;
  font-size: 25px;
  text-align: center;
  font-family: "maja7regular", serif;
}

.create-user input:focus {
  outline: none;
}

.create-user p {
  font-size: 25px;
  margin: 0 50px;
  text-align: center;
}

.create-user a {
  border-radius: 50px;
}

.create-user p:nth-of-type(2) {
  margin: 50px;
}

.create-user .button > a::before {
  background-color: #d9b2ac;
}

.create-user .button:nth-of-type(2n) > a::before {
  background-color: #f7ebb1;
}

/*home*/
.home {
  height: 120vh;
  -ms-flex-pack: center;
      justify-content: center;
}

.oval-background {
  height: 100%;
  animation: showfromup 2s cubic-bezier(0.37, 0.31, 0.5, 1.52) forwards;
}

h1 {
  position: relative;
}

h1::after {
  content: "";
  width: 2px;
  height: 40px;
  position: absolute;
  background-color: black;
  animation: appear 1s infinite ease;
}

.detail-title {
  margin-bottom: 50%;
}

.oval-1 {
  height: 25%;
  position: absolute;
  top: 80%;
  left: 30%;
  animation: appear 1s linear 2s both;
  transition: transform 1s ease;
}

.oval-1:hover {
  transform: rotate(360deg);
}

.oval-2 {
  height: 50%;
  position: absolute;
  top: 7%;
  left: -3%;
  animation: appear 1s linear 3s both;
  transition: transform 1s ease;
}

.oval-2:hover {
  transform: scale(1.2);
}

.oval-3 {
  height: 45%;
  position: absolute;
  top: 20%;
  right: 5%;
  animation: appear 1s linear 1s both;
  transition: transform 1s ease;
}

.oval-3:hover {
  transform: rotate(50deg);
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8dfd8;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

section {
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 8% auto;
  text-align: center;
}

h1 {
  margin: 50px 0;
  font-family: "maja7regular", serif;
  font-size: 40px;
}

.oval-background {
  background-color: #e6c8c5;
  border-radius: 0 0 200px 200px;
  padding: 0 100px;
  margin: 0 50px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  z-index: 3;
}

/*animations*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showfromup {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-40%);
  }
}

/*button originally from mw-worlds*/
.world-link {
  padding: 40px;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  transition: all 0.7s ease;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.button {
  position: relative;
  margin: 25px 10px;
}

.sneak-img {
  z-index: -3;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-height: 100%;
  transition: all 1s ease;
}

.world-link:hover {
  border-radius: 50px;
}

.world-link span {
  z-index: 2;
}

.world-link::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #c3d2c2;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear, transform 1.5s ease;
}

.world-link:hover::before {
  opacity: 1;
  transform: scale(350);
}

.worlds-container > div:nth-child(2n) > .world-link::before {
  background-color: #f7ebb1;
}

.worlds-container > div:nth-child(3n) > .world-link::before {
  background-color: #b6dce4;
}

.world-link:hover ~ .sneak-img {
  transform: translateY(-20%) rotate(30deg);
}

.worlds-container > div:nth-child(2n) > .world-link:hover ~ .sneak-img {
  transform: translate(-30%, 145%);
}

.worlds-container > div:nth-child(3n) > .world-link:hover ~ .sneak-img {
  transform: rotate(-30deg) translate(-80%, -40%);
}

/*footer*/
footer {
  padding: 20px;
  text-align: center;
  background-color: white;
}

footer span {
  font-family: "maja7regular", serif;
  font-size: 18px;
}

/* creation of user in subpages */
.create-user {
  background-color: black;
  color: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 1s ease;
}

.create-user input {
  margin: 50px;
  height: 50px;
  min-width: 30%;
  font-size: 25px;
  text-align: center;
  font-family: "maja7regular", serif;
}

.create-user input:focus {
  outline: none;
}

.create-user p {
  font-size: 25px;
  margin: 0 50px;
  text-align: center;
}

.create-user a {
  border-radius: 50px;
}

.create-user p:nth-of-type(2) {
  margin: 50px;
}

.create-user .button > a::before {
  background-color: #d9b2ac;
}

.create-user .button:nth-of-type(2n) > a::before {
  background-color: #f7ebb1;
}

/*welcome*/
.welcome {
  background-color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  margin: 0 80px 80px 80px;
}

.welcome-caption {
  margin: 8%;
  padding: 6%;
  font-size: 25px;
  z-index: 2;
}

.mamrotek-rakieta-container {
  position: absolute;
  margin-bottom: 15px;
  width: 15%;
  left: -15%;
  bottom: 3%;
  z-index: 1;
}

.mamrotek-rakieta {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8dfd8;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

section {
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 8% auto;
  text-align: center;
}

h1 {
  margin: 50px 0;
  font-family: "maja7regular", serif;
  font-size: 40px;
}

.oval-background {
  background-color: #e6c8c5;
  border-radius: 0 0 200px 200px;
  padding: 0 100px;
  margin: 0 50px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  z-index: 3;
}

/*animations*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showfromup {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-40%);
  }
}

/*button originally from mw-worlds*/
.world-link {
  padding: 40px;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  transition: all 0.7s ease;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.button {
  position: relative;
  margin: 25px 10px;
}

.sneak-img {
  z-index: -3;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-height: 100%;
  transition: all 1s ease;
}

.world-link:hover {
  border-radius: 50px;
}

.world-link span {
  z-index: 2;
}

.world-link::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #c3d2c2;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear, transform 1.5s ease;
}

.world-link:hover::before {
  opacity: 1;
  transform: scale(350);
}

.worlds-container > div:nth-child(2n) > .world-link::before {
  background-color: #f7ebb1;
}

.worlds-container > div:nth-child(3n) > .world-link::before {
  background-color: #b6dce4;
}

.world-link:hover ~ .sneak-img {
  transform: translateY(-20%) rotate(30deg);
}

.worlds-container > div:nth-child(2n) > .world-link:hover ~ .sneak-img {
  transform: translate(-30%, 145%);
}

.worlds-container > div:nth-child(3n) > .world-link:hover ~ .sneak-img {
  transform: rotate(-30deg) translate(-80%, -40%);
}

/*footer*/
footer {
  padding: 20px;
  text-align: center;
  background-color: white;
}

footer span {
  font-family: "maja7regular", serif;
  font-size: 18px;
}

/* creation of user in subpages */
.create-user {
  background-color: black;
  color: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 1s ease;
}

.create-user input {
  margin: 50px;
  height: 50px;
  min-width: 30%;
  font-size: 25px;
  text-align: center;
  font-family: "maja7regular", serif;
}

.create-user input:focus {
  outline: none;
}

.create-user p {
  font-size: 25px;
  margin: 0 50px;
  text-align: center;
}

.create-user a {
  border-radius: 50px;
}

.create-user p:nth-of-type(2) {
  margin: 50px;
}

.create-user .button > a::before {
  background-color: #d9b2ac;
}

.create-user .button:nth-of-type(2n) > a::before {
  background-color: #f7ebb1;
}

/*worlds*/
.worlds {
  min-height: 80vh;
  margin: 400px 0 300px 0;
  position: relative;
  background-color: #e6c8c5;
  -ms-flex-pack: center;
      justify-content: center;
  border-top: 2px solid #e6c8c5;
}

.worlds-top {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-97%);
}

.worlds-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.worlds-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(99%);
  z-index: -2;
}

.worlds-bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.worlds-container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 20px 0;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8dfd8;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

section {
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 8% auto;
  text-align: center;
}

h1 {
  margin: 50px 0;
  font-family: "maja7regular", serif;
  font-size: 40px;
}

.oval-background {
  background-color: #e6c8c5;
  border-radius: 0 0 200px 200px;
  padding: 0 100px;
  margin: 0 50px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  z-index: 3;
}

/*animations*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showfromup {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-40%);
  }
}

/*button originally from mw-worlds*/
.world-link {
  padding: 40px;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  transition: all 0.7s ease;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.button {
  position: relative;
  margin: 25px 10px;
}

.sneak-img {
  z-index: -3;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-height: 100%;
  transition: all 1s ease;
}

.world-link:hover {
  border-radius: 50px;
}

.world-link span {
  z-index: 2;
}

.world-link::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #c3d2c2;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear, transform 1.5s ease;
}

.world-link:hover::before {
  opacity: 1;
  transform: scale(350);
}

.worlds-container > div:nth-child(2n) > .world-link::before {
  background-color: #f7ebb1;
}

.worlds-container > div:nth-child(3n) > .world-link::before {
  background-color: #b6dce4;
}

.world-link:hover ~ .sneak-img {
  transform: translateY(-20%) rotate(30deg);
}

.worlds-container > div:nth-child(2n) > .world-link:hover ~ .sneak-img {
  transform: translate(-30%, 145%);
}

.worlds-container > div:nth-child(3n) > .world-link:hover ~ .sneak-img {
  transform: rotate(-30deg) translate(-80%, -40%);
}

/*footer*/
footer {
  padding: 20px;
  text-align: center;
  background-color: white;
}

footer span {
  font-family: "maja7regular", serif;
  font-size: 18px;
}

/* creation of user in subpages */
.create-user {
  background-color: black;
  color: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 1s ease;
}

.create-user input {
  margin: 50px;
  height: 50px;
  min-width: 30%;
  font-size: 25px;
  text-align: center;
  font-family: "maja7regular", serif;
}

.create-user input:focus {
  outline: none;
}

.create-user p {
  font-size: 25px;
  margin: 0 50px;
  text-align: center;
}

.create-user a {
  border-radius: 50px;
}

.create-user p:nth-of-type(2) {
  margin: 50px;
}

.create-user .button > a::before {
  background-color: #d9b2ac;
}

.create-user .button:nth-of-type(2n) > a::before {
  background-color: #f7ebb1;
}

/*sisters*/
.sisters {
  height: 100vh;
  -ms-flex-pack: center;
      justify-content: center;
}

.sisters-container {
  width: 60%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.sisters-caption {
  z-index: 4;
  position: absolute;
  font-size: 38px;
  font-family: "maja7regular", serif;
  width: 40%;
  top: 35%;
  left: 20%;
  line-height: 60px;
}

.sisters-img,
.kopuly-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}

.sisters-img {
  z-index: 2;
}

.kopuly-img {
  z-index: 3;
}

/*media queries*/
@media (max-width: 1280px) {
  .sisters-caption {
    font-size: 30px;
    line-height: 40px;
    top: 30%;
  }
}

@media (max-width: 1000px) {
  .worlds {
    margin: 300px 0 100px 0;
  }
  .worlds-top {
    transform: translateY(-95%);
  }
  .worlds-container .button {
    width: 200px;
  }
  .sisters-container {
    width: 80%;
    margin: 20px;
  }
  .sisters-caption {
    font-size: 24px;
    line-height: 40px;
    top: 30%;
  }
}

@media (max-width: 767px) {
  .oval-background {
    max-width: 80%;
  }
  .oval-3 {
    height: 33%;
  }
  .welcome-caption {
    padding-bottom: 8%;
  }
  .worlds {
    padding-top: 50px;
  }
  .sisters {
    height: 80vh;
  }
  .sisters-caption {
    font-size: 24px;
    line-height: 40px;
  }
}

/* for landscape screen rotation in mobile and tablets*/
@media (max-width: 800px) and (orientation: landscape) {
  .home {
    min-height: 180vh;
  }
  .oval-1 {
    top: 95%;
  }
  .worlds {
    min-height: 200vh;
  }
  .worlds-container {
    padding: 50px 0;
  }
  .worlds .world-link {
    padding: 30px;
  }
  .worlds .world-link span {
    font-size: 18px;
  }
  .sisters {
    height: 180vh;
  }
  .sisters .sisters-container {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .worlds-top {
    transform: translateY(-93%);
  }
  .oval-1 {
    left: 55%;
  }
  .oval-2 {
    top: 20%;
    left: -20%;
  }
  .oval-3 {
    top: 13%;
  }
}

@media (max-width: 580px) {
  h2 {
    font-size: 15px;
  }
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  .oval-background {
    width: 80%;
    padding: 0 75px;
  }
  .world-link {
    font-size: 15px;
    padding: 20px;
  }
  .welcome {
    margin: 0 40px 40px 40px;
  }
  .welcome-caption {
    font-size: 20px;
    padding-bottom: 13%;
  }
  .worlds {
    margin: 150px 0 100px 0;
  }
  .users {
    margin: 0 40px;
  }
  .sisters-caption {
    font-size: 20px;
    line-height: 30px;
    top: 30%;
    left: 15%;
  }
  footer {
    padding: 10px;
    font-size: 15px;
  }
  footer span {
    font-size: 15px;
  }
}

@media (max-width: 470px) {
  .oval-background {
    padding: 0 50px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 30px;
  }
  h3 {
    margin: 0 15px;
    font-size: 23px;
  }
}

@media (max-width: 440px) {
  .worlds {
    min-height: 90vh;
  }
  .oval-background {
    padding: 0 30px;
  }
  .sisters-caption {
    font-size: 18px;
    top: 33%;
    line-height: 18px;
    left: 20%;
  }
}
/*# sourceMappingURL=style.css.map */