/*variables*/

$yellow: #f7ebb1;
$beige: #e8dfd8;
$light-pink: #e6c8c5;
$dark-pink: #d9b2ac;
$blue: #b6dce4;
$green: #c3d2c2;

$font-text: 'Cormorant Garamond', serif;
$font-maya: 'maja7regular', serif;

@font-face {
  font-family: 'maja7regular';
  src: url('../vendor/maya-font/maja7-webfont.woff2') format('woff2'),
       url('../vendor/maya-font/maja7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*global*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $beige;
}

section {
  display: flex;
}

h2 {
  font-family: $font-text;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3{
  font-family: $font-text;
  font-weight: 400;
  font-size: 25px;
  margin: 50px auto;
}

/*animations*/

@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes showfromup {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(-40%);
  }
}


/*home*/

.home {
  height: 120vh;
  justify-content: center;
}

.oval-background {
  background-color: $light-pink;
  height: 100%;
  border-radius: 0 0 200px 200px;
  padding: 0 100px;
  margin: 0 50px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-content: flex-end;
  z-index: 3;
  animation: showfromup 2s cubic-bezier(.37,.31,.5,1.52) forwards;
}

.detail-title {
  margin-bottom: 50%;
}

h1 {
  margin: 50px 0;
  font-family: $font-maya;
  font-size: 40px;
  position: relative;
}

h1::after{
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background-color: black;
  animation: appear 1s infinite ease;
   
}

.oval-1{
  height: 25%;
  position: absolute;
  top: 80%;
  left: 30%;
  animation: appear 1s linear 2s both;
  transition: transform 1s ease;
}

.oval-1:hover{
  transform: rotate(360deg);
}

.oval-2{
  height: 50%;
  position: absolute;
  top: 7%;
  left: -3%;
  animation: appear 1s linear 3s both;
  transition: transform 1s ease;
}

.oval-2:hover{
  transform: scale(1.2);
}

.oval-3{
  height: 45%;
  position: absolute;
  top: 20%;
  right: 5%;
  animation: appear 1s linear 1s both;
  transition: transform 1s ease;
}

.oval-3:hover{
  transform: rotate(50deg);
}

/*welcome*/

.welcome{
  background-color: white;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  margin: 0 80px 80px 80px;
}

.welcome-caption{
  margin: 8%;
  padding: 4%;
  font-family: $font-text;
  font-size: 25px;
  z-index: 2;
}

.mamrotek-rakieta-container{
  position: absolute;
  margin-bottom: 15px;
  width: 15%;
  left: -15%;
  bottom: 3%;
  z-index: 1;
}

.mamrotek-rakieta{
  width: 100%;
  object-fit: contain;
  opacity: 0.8;
}

/*worlds*/

.worlds{
  min-height: 80vh;
  margin: 500px 0 400px 0;
  position: relative;
  background-color: $light-pink;
}

.worlds-top{
  width: 100%;
  position: absolute;
  transform: translateY(-99%);
}

.worlds-top img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.worlds-bottom{
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(99%);
}

.worlds-bottom img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.worlds-container{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.world-link{
  margin: 10px;
  padding: 20px;
  background-color: white;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  font-family: $font-text;
  transition: all 1s ease;
}

.world-link:hover{
  border-radius: 50px;
}

/*sisters*/

.sisters{
  height: 100vh;
}

.sisters-container{
  width: 60%;
  position: relative;
  margin: 10px 200px 10px auto;
}

.sisters-caption{
  z-index: 4;
  position: absolute;
  font-size: 38px;
  font-family: $font-maya;
  width: 40%;
  top: 35%;
  left: 20%;
  line-height: 60px;
}

.sisters-img,
.kopuly-img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
}

.sisters-img{
z-index: 2;
}

.kopuly-img{
z-index: 3;
}


/*footer*/

footer{
  padding: 20px;
  text-align: center;
  background-color: white;
}


/*media queries*/

// .welcome-caption font size- z 25 zmneijszyc
