/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*variables*/
@font-face {
  font-family: 'maja7regular';
  src: url("../vendor/maya-font/maja7-webfont.woff2") format("woff2"), url("../vendor/maya-font/maja7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8dfd8;
}

section {
  display: flex;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 30px;
  margin: 8% auto;
}

/*animations*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showfromup {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-40%);
  }
}

/*footer*/
footer {
  padding: 20px;
  text-align: center;
  background-color: white;
}

/*media queries*/
/*worlds*/
.worlds {
  min-height: 80vh;
  margin: 500px 0 400px 0;
  position: relative;
  background-color: #e6c8c5;
}

.worlds-top {
  width: 100%;
  position: absolute;
  transform: translateY(-99%);
}

.worlds-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.worlds-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(99%);
}

.worlds-bottom img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.worlds-container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.world-link {
  padding: 40px;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  font-family: "Cormorant Garamond", serif;
  transition: all 0.7s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button {
  position: relative;
}

.sneak-img {
  z-index: -3;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-height: 100%;
  transition: all 1s ease;
}

.world-link:hover {
  border-radius: 50px;
}

.world-link span {
  z-index: 2;
}

.world-link::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #c3d2c2;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear, transform 1.5s ease;
}

.world-link:hover::before {
  opacity: 1;
  transform: scale(300);
}

.worlds-container > div:nth-child(2) > .world-link::before,
.worlds-container > div:nth-child(5) > .world-link::before {
  background-color: #f7ebb1;
}

.worlds-container > div:nth-child(3) > .world-link::before,
.worlds-container > div:nth-child(6) > .world-link::before {
  background-color: #b6dce4;
}

.world-link:hover ~ .sneak-img {
  transform: translateY(-20%) rotate(30deg);
}

.worlds-container > div:nth-child(2) > .world-link:hover ~ .sneak-img,
.worlds-container > div:nth-child(5) > .world-link:hover ~ .sneak-img {
  transform: translate(-30%, 145%);
}

.worlds-container > div:nth-child(3) > .world-link:hover ~ .sneak-img,
.worlds-container > div:nth-child(6) > .world-link:hover ~ .sneak-img {
  transform: rotate(-30deg) translate(-80%, -60%);
}

/*# sourceMappingURL=mw-worlds.css.map */