/*variables*/

$yellow: #f7ebb1;
$beige: #e8dfd8;
$light-pink: #e6c8c5;
$dark-pink: #d9b2ac;
$blue: #b6dce4;
$green: #c3d2c2;

//additional color-pallete

$yellow-dark: #E8E3B4;
$vibrant-pink-light: #EBC5D5;
$vibrant-pink-dark: #CB6E95;
$blue-light: #CFDFE2;
$blue-dark: #7C95D2;
$blue-sea: #86C5D2;
$orange: #DFAE80;
$orange-light: #E5C9AF;
$orange-dark: #C38274;
$brown: #BD937B;
$green-olive: #B3BD98;
$green-dark: #88AC94;
$violet: #C2A7CC;
$violet-light: #DCD2DF;
$violet-dark: #836090;
$grey: #BBB7B7;
$grey-light: #dddbdb;

$font-text: 'Cormorant Garamond', serif;
$font-maya: 'maja7regular', serif;

@font-face {
  font-family: 'maja7regular';
  src: url('../vendor/maya-font/maja7-webfont.woff2') format('woff2'),
       url('../vendor/maya-font/maja7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}