
@import './settings.scss';

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $beige;
}

section {
  display: flex;
}

h2 {
  font-family: $font-text;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

h3{
  font-family: $font-text;
  font-weight: 400;
  font-size: 30px;
  margin: 8% auto;
}

h1 {
  margin: 50px 0;
  font-family: $font-maya;
  font-size: 40px;
}

.oval-background{
  background-color: $light-pink;
  border-radius: 0 0 200px 200px;
  padding: 0 100px;
  margin: 0 50px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-content: flex-end;
  z-index: 3;
}

/*animations*/

@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes showfromup {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(-40%);
  }
}

/*footer*/

footer{
  padding: 20px;
  text-align: center;
  background-color: white;
}

footer span{
  font-family: $font-maya;
  font-size: 18px;
}

/*media queries*/

// .welcome-caption font size- z 25 zmneijszyc
