@import './settings.scss';
@import './global.scss';

@font-face {
  font-family: 'maja7regular';
  src: url('../../vendor/maya-font/maja7-webfont.woff2') format('woff2'),
       url('../../vendor/maya-font/maja7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-maya: 'maja7regular', serif;


body{
    background-color: $green;
    font-family: $font-maya;
}
