@import './settings.scss';
@import './global.scss';

@font-face {
  font-family: 'maja7regular';
  src: url('../../vendor/maya-font/maja7-webfont.woff2') format('woff2'),
    url('../../vendor/maya-font/maja7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-maya: 'maja7regular', serif;

body{
  overflow: hidden;
}

/* home */

.home {
  justify-content: flex-end;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

.oval-1,
.oval-3 {
  position: absolute;
  z-index: -1;
}

.oval-1 {
  height: 300px;
  top: 10%;
  right: 8%;
  filter: brightness(0) saturate(100%) invert(98%) sepia(53%) saturate(845%)
    hue-rotate(321deg) brightness(103%) contrast(94%);
  transition: all 0.5s ease;
  animation: appear 1s linear 1s both;
}

.oval-3 {
  height: 400px;
  top: 20%;
  left: -10%;
  filter: brightness(0) saturate(100%) invert(83%) sepia(29%) saturate(208%)
    hue-rotate(143deg) brightness(100%) contrast(86%);
  transform: rotate(-40deg);
  transition: all 1s ease;
  animation: appear linear 0.7s both;
}

.oval-1:hover {
  transform: rotate(-30deg) scale(1.2);
}

.oval-3:hover {
  transform: rotate(200deg);
}

.oval-background {
  min-height: 40vh;
  border-radius: 200px 200px 0 0;
}

h1 {
  font-family: $font-maya;
  margin: 30px 0;
  font-size: 45px;
}

/* welcome */


.welcome-caption .family-name {
  font-family: $font-maya;
  text-transform: capitalize;
}

.oval-bottom {
  height: 200px;
  width: 488px; //future problems with responsivnes
  position: relative;
  z-index: -1;
}

.oval-bottom img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mamrotki-map {
  height: 90vh;
  margin: 100px 50px;
  justify-content: center;
  align-items: center;
}

.map-container img {
  max-height: 90vh;
  max-width: 80vw;
}

.map-container {
  position: absolute;
}

.tooltip {
  position: absolute;
  height: 7%;
  width: 6%;
  cursor: url(../../images/kotki-mamrotki/search-icon.png), help; //to big for mobile
}

.thief {
  top: 35%;
  right: 27%;
}
.biuro {
  top: 35%;
  left: 11.5%;
  height: 5%;
  width: 4%;
}
.musician {
  top: 13%;
  left: 58%;
  height: 5%;
  width: 4%;
}
.clown {
  top: 15%;
  left: 30%;
  height: 8%;
  width: 7%;
}

.painter {
  top: 24%;
  left: 56%;
  height: 6%;
  width: 3%;
}

.cook {
  top: 56%;
  left: 12%;
  height: 8%;
  width: 7%;
}

.scream {
  top: 70%;
  left: 11%;
}
.ski {
  top: 80%;
  right: 9%;
  width: 8%;
}
.bus {
  bottom: 8%;
  left: 50%;
  width: 8%;
}
.runner {
  top: 56%;
  left: 52%;
  height: 5%;
  width: 4%;
}

/*test*/

.mamrotki-test {
  min-height: 50vh;
  margin: 500px 100px 100px 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.img-hint,
.p-hint {
  position: absolute;
  top: -100px;
  left: 0;
}
.img-hint {
  transform: rotate(-90deg);
  width: 30vw;
  filter: brightness(0) saturate(100%) invert(96%) sepia(6%) saturate(502%)
    hue-rotate(65deg) brightness(86%) contrast(91%);
}

.p-hint {
  font-family: $font-maya;
  width: 30vw;
  font-size: 30px;
}

#test {
  background-color: white;
  width: 100%;
  font-size: 23px;
  padding: 180px 50px;
  margin-bottom: 100px;
}

.question {
  // border: 1px solid white;
  margin: 20px;
  padding: 10px;
  display: flex;
  user-select: none;
}

.question:nth-child(2n) {
  justify-content: flex-end;
  padding-left: 80px;
}

.question-caption {
  // border: 2px solid blue;
  padding: 30px;
  text-align: center;
}

.question-caption p {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.question-caption ul {
  list-style-type: none;
}


.question-caption ul span {
  font-family: $font-maya;
}



.question-img {
  position: relative;
  min-width: 40%;
  // border: 1px solid red;
}

.question-img img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.question:nth-child(2n) > .question-img {
  order: 1;
}

.question li {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.question li.choosed {
  border-bottom: 1px solid $light-pink;
}

.question li:hover {
  border-bottom: 1px solid $blue;
}

.mamrotki-test .button {
  min-width: 15%;
}

.mamrotki-test .world-link {
  background-color: $yellow;
  font-family: $font-maya;
  text-transform: none;
  font-size: 30px;
  text-align: center;
}

.mamrotki-test .world-link::before {
  background-color: $blue;
}

//thanks to https://codepen.io/rebelchris/pen/LYpQRxM

.button i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 5px;
  height: 10px;
  background: red;
  opacity: 0;
  z-index: 10;
}

.button:hover {
  @for $i from 1 through 50 {
    i:nth-of-type(#{$i}) {
      transform: translate3d(random(190) - 100 + px, random(200) - 100 + px, 0)
        rotate(random(360) + deg);
      background: hsla(random(360), 100%, 50%, 1);
      animation: bang 700ms ease-out forwards;
      opacity: 0;
    }
  }
}

@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.anonim-score {
  margin-bottom: 20px;
  font-size: 24px;
}

.anonim-score span{
  font-size: 30px;
  font-weight: bolder;
}

@keyframes order-pop{
  0%{
    transform: translate(0,0) scale(0) rotate(0deg) ;
  }
  50%{
    transform: translate(0,-200%) scale(5) rotate(15deg);
  }
  80%{
    transform: translate(200%,-300%) scale(5) rotate(90deg);
  }
  100%{
    transform: translate(1000%, -600%) scale(2) rotate(360deg);
  }
}

.order-container{
  height: 10vh;
}

.order-container img{
  display: none;
  position: relative;
  height: 100%;
  z-index: 10;
}

.order-container .order-animate{
  animation: order-pop 8s 2s linear both;
}


/*media queries*/

@media (max-width: 1355px) {
  .p-hint {
    font-size: 24px;
    width: 40vw;
  }

  .mamrotki-test {
    margin-top: 350px;
  }
}

@media (max-width: 950px) {
  .p-hint {
    font-size: 20px;
  }
  .mamrotki-test {
    margin-top: 300px;
  }
  #test {
    padding: 100px 50px;
  }
}

@media (max-width: 850px) {
  .welcome {
    width: 80%;
  }

  .oval-background,
  .oval-bottom {
    max-width: 70%;
  }

  .oval-bottom {
    transform: translateY(-10%);
  }

  .mamrotki-map {
    height: 50vh;
  }
}

@media (max-width: 800px) {
  .mamrotki-test {
    margin: 300px 50px 50px 50px;
  }

  #test {
    padding: 100px 20px;
  }
  .img-hint {
    width: 40vw;
  }
  .p-hint {
    top: -120px;
  }

  .question,
  .question:nth-child(2n) {
    padding: 0;
  }

}

@media (max-width: 600px) {
  .oval-3 {
    left: -15%;
  }

  .oval-1 {
    right: 3%;
  }
  .oval-bottom {
    transform: translateY(-16%);
  }

  h1 {
    font-size: 35px;
  }

  .welcome-title {
    font-size: 20px;
  }

  .welcome-caption {
    font-size: 19px;
  }

  .mamrotki-map {
    height: 40vh;
  }

  #test {
    padding: 50px 20px;
  }

  .question {
    font-size: 20px;
  }

  .p-hint {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .oval-3 {
    height: 200px;
    top: 30%;
  }

  .oval-background {
    padding: 0 50px;
  }

  .welcome {
    padding: 40px;
  }

  .oval-bottom {
    transform: translateY(-20%);
  }

  .img-hint {
    width: 50vw;
  }

  .p-hint {
    top: -100px;
    width: 60vw;
  }

  .question {
    flex-direction: column;
  }

  .question-img {
    height: 150px;
    order: 1;
  }

  .question-img::after {
    content: '';
    width: 10px;
    height: 20px;
    background-image: url(../../images/oval-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    bottom: -20px;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 30px;
  }

  .oval-bottom {
    transform: translateY(-30%);
  }
  .mamrotki-map{
    margin: 0 20px;
  }
  .mamrotki-test{
    margin: 150px 20px 20px 20px;
  }
  .img-hint{
    top: -70px;
  }
  .p-hint{
    top: -70px;
    font-size: 16px
  }

  .create-user p:nth-of-type(2n),
  .create-user input{
    margin: 30px 0;
  }
}

@media (max-width: 350px){
  
  .question{
    font-size: 16px;
  }
}

/* for landscape screen rotation in mobile and tablets*/

@media (max-width: 800px) and (orientation: landscape){
  .mamrotki-map{
    height: 100vh;
  }

  .map-container{
    max-height: 120vh;
  }

  .question-img{
    min-width: 30%;
  }

  .create-user p{
    margin: 10px;
    font-size: 20px;
  }

  .create-user p:nth-of-type(2n){
    margin: 0;
    font-size: 20px;
  }

  .create-user .button{
    margin: 10px;
  }
  .create-user .world-link{
    padding: 25px;
  }

  .create-user input{
    margin: 10px;
    height: 40px;
  }

}