@import './settings.scss';
@import './global.scss';

html{
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

section{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0 100px 0;
    position: relative;
}

h1,h2{
  animation: appear 2s;
}

.oval-background {
  position: absolute;
  height: 60%;
  top: 100px;
  border-radius: 200px 200px 0 0;
  background: linear-gradient(-200deg, white 50%, $beige);
  z-index: -1;
  justify-content: flex-start;
}

.welcome{
  background-color: $light-pink;
}

.svg-intro{
  width: 105vw;
  max-width: 1500px;
  margin: 400px 0 100px 0;
  animation: appear 2s;
}

.welcome-caption.detail{
  background-color: white;
}

.game-intro{
  z-index: 1;
  padding: 0;
}

.monster-warning{
  position: absolute;
  top: 0;
  margin: 200px 0;
  background-color: white;
  padding: 80px;
  font-size: 25px;
  width: 50%;
}

.monster-warning::after{
  background: url(../../images/szalone-maszyny/zjaj-shape.png);
  top: 30%;
  right: -16%;
  height: 100%;
  width: 30%;
}

.monster-warning::before{
  background: url(../../images/szalone-maszyny/bezjaj-shape.png);
  top: -30%;
  left: -20%;
  z-index: -1;
  height: 100%;
  width: 40%;
}

.monster-warning::after,
.monster-warning::before{
  content: '';
  position: absolute;
  
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.game{
  margin-top: 40%; // not proud of this solution
}

.svg-game{
width: 95vw;
}

.game-over-background.game-over{
  background-color:rgba(0,0,0,0.8);
  z-index: 10;
  animation: appear 1s ease-in;
}
.game-over-background{
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.game-over-caption {
  font-size: 34px;
  z-index: 1000;
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.button.button-game-over{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
}

.button.button-game-over .world-link{
  background-color: $yellow;
  cursor: pointer;
  text-align: center;
}

.button.button-game-over .world-link span{
  font-family: $font-maya;
  text-transform: none;
}

.button.button-game-over .world-link::before{
  background-color: $vibrant-pink-light;
}

.svg-bezjaj{
  position: absolute;
  width: 30vw;
  transform: scale(0);
}


.svg-upper-bubbles-bezjaj {
visibility: hidden;
position: absolute;
overflow: visible;
}

.svg-bubu {
  transform: scale(0) translate(-50%, -50%);
  position: absolute;
  left:50%;
  top: 50%;
  z-index: 1;
}

.svg-bubu g{
  opacity: 0;
}

.svg-zjaj {
  position: absolute;
  width: 30vw;
  transform: scale(0);
  overflow: visible;
}


// hiding animated svg parts

.small-flower,
.snake-leaf-filling .fruit,
.robo-worm,
.tulip-stem,
.octopus,
.cactus-stem,
#virus,
.boundries,
.dymki path,
.smoke-detectors,
#start-line,
.dymki-zjaj,
.svg-zjaj .left-bubbles
{
  visibility:hidden;
}

.covit,
.bakteria-sign, 
.silnik,
.lampy{
  opacity: 0;
}


.dymki path {
  stroke-dashoffset: 0;
  &.smoke-animate{
    visibility:visible;
  }
}

.dymki #smoke1,
.dymki #smoke4,
.dymki #smoke5, 
.dymki #smoke6{
  stroke-dasharray: 2000;
  &.smoke-animate{
  animation: dash-2000 5s linear forwards;
  }
}

.dymki #smoke2,
.dymki #smoke7,
.dymki #smoke8{
  stroke-dasharray: 3000;
  &.smoke-animate{
  animation: dash-3000 5s linear forwards;
}
}

.dymki #smoke3,
.dymki #smoke10{
  stroke-dasharray: 1200;
  &.smoke-animate{
  animation: dash-1200 5s linear forwards;
}
}

.dymki #smoke9{
  stroke-dasharray: 5500;
  &.smoke-animate{
  animation: dash-5500 5s linear forwards;
}
}



@keyframes dash-1200 {
  from{
    stroke-dashoffset: 1200;
  }to{
    stroke-dashoffset: 2400;
  }
}
@keyframes dash-2000 {
  from{
    stroke-dashoffset: 2000;
  }to{
    stroke-dashoffset: 4000;
  }
}
@keyframes dash-3000 {
  from{
    stroke-dashoffset: 3000;
  }to{
    stroke-dashoffset: 6000;
  }
}

@keyframes dash-4000 {
  from{
    stroke-dashoffset: 4000;
  }to{
    stroke-dashoffset: 8000;
  }
}
@keyframes dash-5500 {
  from{
    stroke-dashoffset: 5500;
  }to{
    stroke-dashoffset: 11000;
  }
}


//coloring svg-intro

.tulip{
  transform: rotate(-15deg);
  transform-origin: center;
}

.banana-filling .left {
  fill: $blue;
}

.banana-filling .right{
  fill: $green;
}


.ball-filling .ball, 
.ball-filling .patch{
  fill: $light-pink;
}

.ball-filling .snail{
  fill: $orange;
}

.ball-filling .hand{
  fill: $brown;
}

.ball-filling .upper{
  fill: $green-olive;
}

.flower .middle{
  fill: $green;
}

.stripes-filling path{
  fill: $orange-dark;
}

.snaily-eyeball .filling{
  fill: $grey-light;
}

.snaily-eyeball .filling-snail{
  fill: $violet-dark;
}

.tulip .filling .upper {
  fill: $violet;
}

.tulip .filling .long{
  fill: $violet-dark;
}

.tulip .filling .lower {
  fill: $vibrant-pink-light;
}

.small-flower .middle{
  fill: $yellow;
}

.small-flower .petal{
fill: $vibrant-pink-light;
}

.heart-big .filling,
.heart-small .filling{
  fill: $orange-light;
}

.cactuses .filling{
  fill: $green-dark;
}

.cactuses .lil-ball-filling{
  fill: $orange;
}

.cactus-flowers .flower-middle{
  fill: $orange-light;
}

.cactus-flowers .petal{
  fill: $vibrant-pink-dark;
}

.snake-leaf-filling .snake{
  fill : $dark-pink;
}

.snake-leaf-filling .filling{
  fill : $vibrant-pink-dark;
}

.snake-leaf-filling .flower{
  fill : $yellow;
}

.snake-leaf-filling .leaf{
  fill : $blue;
}

.snake-leaf-filling .leaf-right{
  fill : $green-dark;
}

.static-alien-filling .eye-fill{
  fill: $blue-sea;
}

.static-alien-filling .lip{
  fill: $violet-light;
}

.static-alien-filling .part-1{
  fill: $blue-dark;
}

.static-alien-filling .part-2{
  fill: $light-pink;
}

.static-alien-filling .part-3{
  fill: $orange;
}

.static-alien-filling .part-4{
  fill: $green;
}

.czujki .filling,
.huge-stems .upper-stem{
  fill: $blue;
}

.huge-stems .cactus-stem{
  fill: $yellow;
}

.huge-stems .stem{
fill: $yellow-dark;
}

.octopus .head{
  fill: $orange-light;
}

.octopus .outer-tong{
  fill: $vibrant-pink-light;
}


.octopus .middle-tong{
  fill: $vibrant-pink-dark;
}

.octopus .inner-tong{
  fill: $orange;
}

.octopus .blue{
  fill: $blue-dark;
}

.octopus .green{
  fill: $green-dark;
}

.trybiki .filling{
  fill: $grey;
}

.trybiki .filling-middle{
  fill: $grey-light;
}

.leaves .filling{
  fill: $green-olive;
}

.little-creatures .right-filling{
  fill: $orange-dark;
}

.little-creatures .left-filling{
  fill: $orange;
}

.robo-worm .head-filling{
  fill: $orange;
}

.robo-worm .eye-filling{
  fill: $grey;
}

.robo-worm .box-1{
  fill: $blue;
}

.robo-worm .box-2{
  fill: $light-pink;
}

.robo-worm .box-3{
  fill: $violet-dark;
}

.robo-worm .box-4{
  fill: $green;
}

.robo-worm .box-6{
  fill: $vibrant-pink-dark;
}

.avo-onion .outer{
  fill : $orange-light;
}

.avo-onion .middle{
  fill : $orange;
}

.avo-onion .pestka-filling{
  fill : $yellow;
}

.wheel .tire-filling{
  fill: $green-olive;
}

.wheel .inner-filling{
  fill: $blue-light;
}

.wheel .cross-filling{
  fill: $orange-dark;
}

.wheel .filling-1{
  fill: $yellow;
}

.wheel .filling-2{
  fill: $orange;
}


/*coloring svg-game*/

.patches path{
  fill: $beige;
}


/*media-queries */


@media (min-width: 1300px){
  .svg-game{
   height: 90vh;
  }

}
@media (max-width: 1420px){
  .game{
    margin-top: 55%;
  }
}
@media (max-width: 1100px){
  .game{
    margin-top: 800px;
  }
  .game-over-caption{
    font-size: 24px;
  }
  
}
@media (max-width: 780px){
  .game{
    margin-top: 1000px;
  }
  .svg-bezjaj,
  .svg-zjaj{
    width: 60vw;
  }
  .button.button-game-over .world-link{
   padding: 25px;
  }

}

@media (max-width: 780px) and (orientation: landscape){
  .svg-zjaj{
    width: 30vw;
  }
  .game-over-caption{
    top: 35%;
    font-size: 22px;
  }
}


@media (max-width: 680px){

  .svg-intro{
    margin-top: 500px;
  }
  .home{
    padding: 0;
  }

  .welcome-caption,
  .monster-warning{
    font-size: 22px;
  }
  .game{
    margin-top: 1100px;
  }

}
@media (max-width: 530px){
  .game{
    margin-top: 600px;
  }
  .game-over-caption{
    top: 35%;
  }
  .welcome-caption{
    font-size: 20px;
    text-align: center;
  }

  .welcome.subp{
    padding: 40px;
    width: 70%;
  }

  .monster-warning{
    margin-top: 150px;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    width: 70%;
  }

  .monster-warning::before{
    width: 70%;
    left: -35%;
  }
  .monster-warning::after{
    width: 60%;
    right: -45%;
  }
  footer{
    padding: 10px;
    font-size: 15px;
  }
  footer span {
    font-size: 15px;
  }
  
}

@media (max-width: 430px){

  .svg-intro{
    margin-top: 500px;
  }

  .oval-background{
    padding: 0 80px;
  }

  h2{
    font-size: 20px;
  }

  h1{
    font-size: 30px;
  }

  .home{
    padding-bottom: 0;
  }

  .game {
    margin-top: 800px;
  }
}
